.header {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.523), rgba(0, 0, 0, 0.5)),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  img {
    width: 10%;
    padding: 3%;
  }
  $LightGreen: #7ed56f;
  $MediumGreen: #55c57a;
  $darkgreen: #28b485;
  .header__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    @include center;

    h1 {
      font-size: 6rem;
      letter-spacing: 2rem;
    }
    h3 {
      font-size: 4rem;
      letter-spacing: 1rem;
    }
    a {
      margin-top: 2rem;
      position: relative;
      text-decoration: none;
      border-radius: 4rem;
      padding: 1% 1%;
      background-color: white;
      color: $darkgreen;
      width: 22%;

      &::after {
        display: inline-block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4rem;
        padding: 1% 1%;
        background-color: white;
        color: $darkgreen;
        z-index: -1;
        transition: all 0.2s;

        animation-name: btn;
        animation-duration: 0.3s;
        animation-iteration-count: infinite;
      }
    }
  }

  @keyframes btn {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.3);
      opacity: 0;
    }
  }
}
